#mniNew > .label{
    -fx-graphic: url("/img/document-new.png");
}
#mniNew .accelerator-text{
    -fx-graphic: none;
}
#mniSave > .label{
    -fx-graphic: url("/img/document-save.png");
}
#mniSave .accelerator-text{
    -fx-graphic: none;
}
#mniExit > .label{
    -fx-graphic: url("/img/document-exit.png");
}
#mniExit .accelerator-text{
    -fx-graphic: none;
}
#tbNew {
    -fx-graphic: url("/img/tb-new.png");
}
.tbButton {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
#tbDelete {
    -fx-graphic: url("/img/tb-exit.png");
}
.tbButton: pressed {
    -fx-background-color: yellow;
}
.tbButton: hover {
    -fx-background-color: lightgray;
}
